## 1) Giriş İşlemler

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 1000)

In [2]:
df_gender = pd.read_csv("gender_submission.csv")
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [4]:
len(df_train)

891

In [5]:
# sütunları açıklayan datafram --> df_explain

my_dict = {
    "Meanings": {"Survived": "Survival [0 = No, 1 = Yes]", "Pclass": "A proxy for socio-economic status [1 = upper, 2 = middle, 3 = lower]",
                 "Sex": "Sex", "Age": "Age in years. Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5", 
                 "SibSp": "of siblings/Spouses aboard the Titanic. The dataset defines family relations in this way... Sibling = brother, sister, stepbrother, stepsister | Spouse = husband, wife (mistresses and fiancés were ignored)",
                 "Parch": "of parents/children aboard the Titanic. The dataset defines family relations in this way... Parent = mother, father | Child = daughter, son, stepdaughter, stepson | Some children travelled only with a nanny, therefore parch=0 for them.", 
                 "Ticket": "Ticket number",
                 "Fare": "Passenger fare", "Cabin": "cabin number", 
                 "Embarked": "Port of Emarkation [C = Cherbourg, Q = Queenstown, S = Southampton]"}
}

df_explain = pd.DataFrame(my_dict)
df_explain

                                                   Meanings
Age       Age in years. Age is fractional if less than 1...
Cabin                                          cabin number
Embarked  Port of Emarkation [C = Cherbourg, Q = Queenst...
Fare                                         Passenger fare
Parch     of parents/children aboard the Titanic. The da...
Pclass    A proxy for socio-economic status [1 = upper, ...
Sex                                                     Sex
SibSp     of siblings/Spouses aboard the Titanic. The da...
Survived                         Survival [0 = No, 1 = Yes]
Ticket                                        Ticket number

In [6]:
df_gender.head(4)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0

In [7]:
df_train.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [8]:
df_test.head(4)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S

## 2) Sınıflandırmalar

### first class yolcular

In [9]:
# aşağıdaki filtre, bileti 1. sınıftan olan yolcuları listeler.

filtre = df_train['Pclass'] == 1
first_class = df_train.loc[filtre]
first_class

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
102,103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
124,125,0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.00,0,2,11752,26.2833,D47,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S
139,140,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
168,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S
174,175,0,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A7,C
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.00,0,0,PC 17595,28.7125,C49,C
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C
195,196,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C
209,210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C
215,216,1,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C
218,219,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S
230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.00,1,0,36973,83.4750,C83,S
245,246,0,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.00,0,0,113514,26.5500,C87,S
256,257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,NaN,0,0,PC 17585,79.2000,NaN,C
257,258,1,1,"Cherry, Miss. Gladys",female,30.00,0,0,110152,86.5000,B77,S
258,259,1,1,"Ward, Miss. Anna",female,35.00,0,0,PC 17755,512.3292,NaN,C
262,263,0,1,"Taussig, Mr. Emil",male,52.00,1,1,110413,79.6500,E67,S
263,264,0,1,"Harrison, Mr. William",male,40.00,0,0,112059,0.0000,B94,S
268,269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.00,0,1,PC 17582,153.4625,C125,S
269,270,1,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,135.6333,C99,S
270,271,0,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S
273,274,0,1,"Natsch, Mr. Charles H",male,37.00,0,1,PC 17596,29.7000,C118,C
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.00,1,0,13502,77.9583,D7,S
284,285,0,1,"Smith, Mr. Richard William",male,NaN,0,0,113056,26.0000,A19,S
290,291,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.00,0,0,19877,78.8500,NaN,S
291,292,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.00,1,0,11967,91.0792,B49,C
295,296,0,1,"Lewy, Mr. Ervin G",male,NaN,0,0,PC 17612,27.7208,NaN,C
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
298,299,1,1,"Saalfeld, Mr. Adolphe",male,NaN,0,0,19988,30.5000,C106,S
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.00,0,1,PC 17558,247.5208,B58 B60,C
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
306,307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.00,1,0,PC 17758,108.9000,C65,C
309,310,1,1,"Francatelli, Miss. Laura Mabel",female,30.00,0,0,PC 17485,56.9292,E36,C
310,311,1,1,"Hays, Miss. Margaret Bechstein",female,24.00,0,0,11767,83.1583,C54,C
311,312,1,1,"Ryerson, Miss. Emily Borie",female,18.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
318,319,1,1,"Wick, Miss. Mary Natalie",female,31.00,0,2,36928,164.8667,C7,S
319,320,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.00,1,1,16966,134.5000,E34,C
325,326,1,1,"Young, Miss. Marie Grice",female,36.00,0,0,PC 17760,135.6333,C32,C
329,330,1,1,"Hippach, Miss. Jean Gertrude",female,16.00,0,1,111361,57.9792,B18,C
331,332,0,1,"Partner, Mr. Austen",male,45.50,0,0,113043,28.5000,C124,S
332,333,0,1,"Graham, Mr. George Edward",male,38.00,0,1,PC 17582,153.4625,C91,S
334,335,1,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,NaN,1,0,PC 17611,133.6500,NaN,S
336,337,0,1,"Pears, Mr. Thomas Clinton",male,29.00,1,0,113776,66.6000,C2,S
337,338,1,1,"Burns, Miss. Elizabeth Margaret",female,41.00,0,0,16966,134.5000,E40,C
339,340,0,1,"Blackwell, Mr. Stephen Weart",male,45.00,0,0,113784,35.5000,T,S
341,342,1,1,"Fortune, Miss. Alice Elizabeth",female,24.00,3,2,19950,263.0000,C23 C25 C27,S
351,352,0,1,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,0,0,113510,35.0000,C128,S
356,357,1,1,"Bowerman, Miss. Elsie Edith",female,22.00,0,1,113505,55.0000,E33,S
366,367,1,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.00,1,0,110813,75.2500,D37,C
369,370,1,1,"Aubart, Mme. Leontine Pauline",female,24.00,0,0,PC 17477,69.3000,B35,C
370,371,1,1,"Harder, Mr. George Achilles",male,25.00,1,0,11765,55.4417,E50,C
373,374,0,1,"Ringhini, Mr. Sante",male,22.00,0,0,PC 17760,135.6333,NaN,C
375,376,1,1,"Meyer, Mrs. Edgar Joseph (Leila Saks)",female,NaN,1,0,PC 17604,82.1708,NaN,C
377,378,0,1,"Widener, Mr. Harry Elkins",male,27.00,0,2,113503,211.5000,C82,C
380,381,1,1,"Bidois, Miss. Rosalie",female,42.00,0,0,PC 17757,227.5250,NaN,C
383,384,1,1,"Holverson, Mrs. Alexander Oskar (Mary Aline To...",female,35.00,1,0,113789,52.0000,NaN,S
390,391,1,1,"Carter, Mr. William Ernest",male,36.00,1,2,113760,120.0000,B96 B98,S
393,394,1,1,"Newell, Miss. Marjorie",female,23.00,1,0,35273,113.2750,D36,C
412,413,1,1,"Minahan, Miss. Daisy E",female,33.00,1,0,19928,90.0000,C78,Q
430,431,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.00,0,0,110564,26.5500,C52,S
434,435,0,1,"Silvey, Mr. William Baird",male,50.00,1,0,13507,55.9000,E44,S
435,436,1,1,"Carter, Miss. Lucile Polk",female,14.00,1,2,113760,120.0000,B96 B98,S
438,439,0,1,"Fortune, Mr. Mark",male,64.00,1,4,19950,263.0000,C23 C25 C27,S
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S
447,448,1,1,"Seward, Mr. Frederic Kimber",male,34.00,0,0,113794,26.5500,NaN,S
449,450,1,1,"Peuchen, Major. Arthur Godfrey",male,52.00,0,0,113786,30.5000,C104,S
452,453,0,1,"Foreman, Mr. Benjamin Laventall",male,30.00,0,0,113051,27.7500,C111,C
453,454,1,1,"Goldenberg, Mr. Samuel L",male,49.00,1,0,17453,89.1042,C92,C
456,457,0,1,"Millet, Mr. Francis Davis",male,65.00,0,0,13509,26.5500,E38,S
457,458,1,1,"Kenyon, Mrs. Frederick R (Marion)",female,NaN,1,0,17464,51.8625,D21,S
460,461,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26.5500,E12,S
462,463,0,1,"Gee, Mr. Arthur H",male,47.00,0,0,111320,38.5000,E63,S
467,468,0,1,"Smart, Mr. John Montgomery",male,56.00,0,0,113792,26.5500,NaN,S
475,476,0,1,"Clifford, Mr. George Quincy",male,NaN,0,0,110465,52.0000,A14,S
484,485,1,1,"Bishop, Mr. Dickinson H",male,25.00,1,0,11967,91.0792,B49,C
486,487,1,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",female,35.00,1,0,19943,90.0000,C93,S
487,488,0,1,"Kent, Mr. Edward Austin",male,58.00,0,0,11771,29.7000,B37,C
492,493,0,1,"Molson, Mr. Harry Markland",male,55.00,0,0,113787,30.5000,C30,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.00,0,0,PC 17609,49.5042,NaN,C
496,497,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.00,1,0,36947,78.2667,D20,C
498,499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S
504,505,1,1,"Maioni, Miss. Roberta",female,16.00,0,0,110152,86.5000,B79,S
505,506,0,1,"Penasco y Castellana, Mr. Victor de Satode",male,18.00,1,0,PC 17758,108.9000,C65,C
507,508,1,1,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,0,0,111427,26.5500,NaN,S
512,513,1,1,"McGough, Mr. James Robert",male,36.00,0,0,PC 17473,26.2875,E25,S
513,514,1,1,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",female,54.00,1,0,PC 17603,59.4000,NaN,C
515,516,0,1,"Walker, Mr. William Anderson",male,47.00,0,0,36967,34.0208,D46,S
520,521,1,1,"Perreault, Miss. Anne",female,30.00,0,0,12749,93.5000,B73,S
523,524,1,1,"Hippach, Mrs. Louis Albert (Ida Sophia Fischer)",female,44.00,0,1,111361,57.9792,B18,C
527,528,0,1,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S
536,537,0,1,"Butt, Major. Archibald Willingham",male,45.00,0,0,113050,26.5500,B38,S
537,538,1,1,"LeRoy, Miss. Bertha",female,30.00,0,0,PC 17761,106.4250,NaN,C
539,540,1,1,"Frolicher, Miss. Hedwig Margaritha",female,22.00,0,2,13568,49.5000,B39,C
540,541,1,1,"Crosby, Miss. Harriet R",female,36.00,0,2,WE/P 5735,71.0000,B22,S
544,545,0,1,"Douglas, Mr. Walter Donald",male,50.00,1,0,PC 17761,106.4250,C86,C
545,546,0,1,"Nicholson, Mr. Arthur Ernest",male,64.00,0,0,693,26.0000,NaN,S
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.00,0,2,17421,110.8833,C70,C
555,556,0,1,"Wright, Mr. George",male,62.00,0,0,113807,26.5500,NaN,S
556,557,1,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",female,48.00,1,0,11755,39.6000,A16,C
557,558,0,1,"Robbins, Mr. Victor",male,NaN,0,0,PC 17757,227.5250,NaN,C
558,559,1,1,"Taussig, Mrs. Emil (Tillie Mandelbaum)",female,39.00,1,1,110413,79.6500,E67,S
571,572,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.00,2,0,11769,51.4792,C101,S
572,573,1,1,"Flynn, Mr. John Irwin (""Irving"")",male,36.00,0,0,PC 17474,26.3875,E25,S
577,578,1,1,"Silvey, Mrs. William Baird (Alice Munger)",female,39.00,1,0,13507,55.9000,E44,S
581,582,1,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",female,39.00,1,1,17421,110.8833,C68,C
583,584,0,1,"Ross, Mr. John Hugo",male,36.00,0,0,13049,40.1250,A10,C
585,586,1,1,"Taussig, Miss. Ruth",female,18.00,0,2,110413,79.6500,E68,S
587,588,1,1,"Frolicher-Stehli, Mr. Maxmillian",male,60.00,1,1,13567,79.2000,B41,C
591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.00,1,0,36947,78.2667,D20,C
599,600,1,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",male,49.00,1,0,PC 17485,56.9292,A20,C
602,603,0,1,"Harrington, Mr. Charles H",male,NaN,0,0,113796,42.4000,NaN,S
604,605,1,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.00,0,0,111426,26.5500,NaN,C
607,608,1,1,"Daniel, Mr. Robert Williams",male,27.00,0,0,113804,30.5000,NaN,S
609,610,1,1,"Shutes, Miss. Elizabeth W",female,40.00,0,0,PC 17582,153.4625,C125,S
621,622,1,1,"Kimball, Mr. Edwin Nelson Jr",male,42.00,1,0,11753,52.5542,D19,S
625,626,0,1,"Sutton, Mr. Frederick",male,61.00,0,0,36963,32.3208,D50,S
627,628,1,1,"Longley, Miss. Gretchen Fiske",female,21.00,0,0,13502,77.9583,D9,S
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000,A23,S
632,633,1,1,"Stahelin-Maeglin, Dr. Max",male,32.00,0,0,13214,30.5000,B50,C
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0000,NaN,S
641,642,1,1,"Sagesser, Mlle. Emma",female,24.00,0,0,PC 17477,69.3000,B35,C
645,646,1,1,"Harper, Mr. Henry Sleeper",male,48.00,1,0,PC 17572,76.7292,D33,C
647,648,1,1,"Simonius-Blumer, Col. Oberst Alfons",male,56.00,0,0,13213,35.5000,A26,C
659,660,0,1,"Newell, Mr. Arthur Webster",male,58.00,0,2,35273,113.2750,D48,C
660,661,1,1,"Frauenthal, Dr. Henry William",male,50.00,2,0,PC 17611,133.6500,NaN,S
662,663,0,1,"Colley, Mr. Edward Pomeroy",male,47.00,0,0,5727,25.5875,E58,S
669,670,1,1,"Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)",female,NaN,1,0,19996,52.0000,C126,S
671,672,0,1,"Davidson, Mr. Thornton",male,31.00,1,0,F.C. 12750,52.0000,B71,S
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.00,0,1,PC 17755,512.3292,B51 B53 B55,C
681,682,1,1,"Hassab, Mr. Hammad",male,27.00,0,0,PC 17572,76.7292,D49,C
689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.00,0,1,24160,211.3375,B5,S
690,691,1,1,"Dick, Mr. Albert Adrian",male,31.00,1,0,17474,57.0000,B20,S
694,695,0,1,"Weir, Col. John",male,60.00,0,0,113800,26.5500,NaN,S
698,699,0,1,"Thayer, Mr. John Borland",male,49.00,1,1,17421,110.8833,C68,C
700,701,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.00,1,0,PC 17757,227.5250,C62 C64,C
701,702,1,1,"Silverthorne, Mr. Spencer Victor",male,35.00,0,0,PC 17475,26.2875,E24,S
707,708,1,1,"Calderhead, Mr. Edward Pennington",male,42.00,0,0,PC 17476,26.2875,E24,S
708,709,1,1,"Cleaver, Miss. Alice",female,22.00,0,0,113781,151.5500,NaN,S
710,711,1,1,"Mayne, Mlle. Berthe Antonine (""Mrs de Villiers"")",female,24.00,0,0,PC 17482,49.5042,C90,C
711,712,0,1,"Klaber, Mr. Herman",male,NaN,0,0,113028,26.5500,C124,S
712,713,1,1,"Taylor, Mr. Elmer Zebley",male,48.00,1,0,19996,52.0000,C126,S
716,717,1,1,"Endres, Miss. Caroline Louise",female,38.00,0,0,PC 17757,227.5250,C45,C
724,725,1,1,"Chambers, Mr. Norman Campbell",male,27.00,1,0,113806,53.1000,E8,S
730,731,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.00,0,0,PC 17755,512.3292,B101,C
740,741,1,1,"Hawksford, Mr. Walter James",male,NaN,0,0,16988,30.0000,D45,S
741,742,0,1,"Cavendish, Mr. Tyrell William",male,36.00,1,0,19877,78.8500,C46,S
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.00,1,1,WE/P 5735,71.0000,B22,S
748,749,0,1,"Marvin, Mr. Daniel Warner",male,19.00,1,0,113773,53.1000,D30,S
759,760,1,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.00,0,0,110152,86.5000,B77,S
763,764,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.00,1,2,113760,120.0000,B96 B98,S
765,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.00,1,0,13502,77.9583,D11,S
766,767,0,1,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,NaN,C
779,780,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.00,0,1,24160,211.3375,B3,S
781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.00,1,0,17474,57.0000,B20,S
782,783,0,1,"Long, Mr. Milton Clyde",male,29.00,0,0,113501,30.0000,D6,S
789,790,0,1,"Guggenheim, Mr. Benjamin",male,46.00,0,0,PC 17593,79.2000,B82 B84,C
793,794,0,1,"Hoyt, Mr. William Fisher",male,NaN,0,0,PC 17600,30.6958,NaN,C
796,797,1,1,"Leader, Dr. Alice (Farnham)",female,49.00,0,0,17465,25.9292,D17,S
802,803,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.00,0,0,112050,0.0000,A36,S
809,810,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.00,1,0,113806,53.1000,E8,S
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,S
820,821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.00,1,1,12749,93.5000,B69,S
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.00,0,0,19972,0.0000,NaN,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.00,0,0,113572,80.0000,B28,NaN
835,836,1,1,"Compton, Miss. Sara Rebecca",female,39.00,1,1,PC 17756,83.1583,E49,C
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C
842,843,1,1,"Serepeca, Miss. Augusta",female,30.00,0,0,113798,31.0000,NaN,C
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
853,854,1,1,"Lines, Miss. Mary Conover",female,16.00,0,1,PC 17592,39.4000,D28,S
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.00,1,1,36928,164.8667,NaN,S
857,858,1,1,"Daly, Mr. Peter Denis",male,51.00,0,0,113055,26.5500,E17,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.00,0,0,17466,25.9292,D17,S
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.00,0,0,PC 17590,50.4958,A24,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.00,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.00,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.00,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.00,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30.0000,C148,C

### first class erkek yolcular

In [10]:
first_class_male = first_class[first_class['Sex'] == 'male']
first_class_male.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S

### first class kadın yolcular

In [11]:
# cinsiyeti kadın olan birinci sınıf biletli yolcuların hepsi hayatta kalmıştır

first_class_female = first_class[first_class['Sex'] == 'female']
first_class_female.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [12]:
# first class kadın yolcuları df_train dataframin'den çıkartalım:

indexler = first_class_female.index
for x in indexler:
    df_train = df_train.drop(index=x)

### **Birinci Ayrıştırılmış DataFrame**

    Buradan sonrasında df_train isimli DataFrame içerisinde first class kadın yolcular yer almayacaktır.

In [13]:
# aşağıdaki işlem df_train içerisinde first class kadın olmadığının kanıtıdır.

x = df_train[df_train['Pclass'] == 1]
x[x['Sex'] == 'female']

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

### first class erkek yolcuların 25'den küçük Fare değeri olanlar

In [14]:
# first class bilet alan erkeklerin bilet fiyatı(=Fare) 25'den küçük olanların hepsi ölmüştür.
first_class_male_25Fare = first_class_male[first_class_male['Fare'] < 25]
first_class_male_25Fare

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0,B94,S
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0,NaN,S
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0,A36,S
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0,B102,S
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0,NaN,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0,B51 B53 B55,S

In [15]:
# first class erkek yolcularının bilet fiyatı (Fare) 25'den küçük olan kişileri df_train DataFrame'inden çıkartalım:

indexler = first_class_male_25Fare.index
for x in indexler:
    df_train = df_train.drop(index=x)

### **İkinci Ayrıştırılmış DataFrame**

    Buradan sonrasında df_train isimli DataFrame içerisinde first class erkek yolcularının bilet fiyatı (Fare) 25'den küçük olan kişiler yer almayacaktır.

In [16]:
# aşağıdaki işlem df_train içerisinde first class erkek yolcularının bilet fiyatı (Fare) 25'den küçük olan kişilerin olmadığının kanıtıdır.

x = df_train[df_train['Pclass'] == 1]
y = x[x['Sex'] == 'male']
y[y['Fare'] < 25]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

### third class erkek yolcular

In [17]:
third_class = df_train[df_train['Pclass'] == 3]
third_class_male = third_class[third_class['Sex'] == 'male']
third_class_male_liveN = len(third_class_male[third_class_male['Survived'] == 1])
third_class_male_diedN = len(third_class_male[third_class_male['Survived'] == 0])
third_class_male_totalN = third_class_male_liveN + third_class_male_diedN

print(f"üçüncü sınıf erkek yolculardan ölen    sayısı --> {third_class_male_diedN}")
print(f"üçüncü sınıf erkek yolculardan ölmeyen sayısı --> {third_class_male_liveN}")
print(f"üçüncü sınıf erkek yolculardan ölen oranı     --> {round((100 * (third_class_male_liveN / third_class_male_totalN)))}%")

üçüncü sınıf erkek yolculardan ölen    sayısı --> 300
üçüncü sınıf erkek yolculardan ölmeyen sayısı --> 47
üçüncü sınıf erkek yolculardan ölen oranı     --> 14%

In [18]:
third_class_maleQ = third_class_male[third_class_male['Embarked'] == "Q"]
third_class_maleQ.sort_values(by='Survived', ascending=False)
third_class_maleQ_died = len(third_class_maleQ[third_class_maleQ['Survived'] == 0])
third_class_maleQ_live = len(third_class_maleQ[third_class_maleQ['Survived'] == 1])
third_class_maleQ_total = third_class_maleQ_died + third_class_maleQ_live
x = str(round((100 * (third_class_maleQ_live/third_class_maleQ_total)))) + "%"

print(f"üçüncü sınıf bileti olan erkeklerin Q şehrinden gelenlerinin yaşama şansı: {x}")
print("\n⬆⬆ Bu sebepten dolayı, bu kategorideki kişilerin öleceğini varsayacağım. ")

üçüncü sınıf bileti olan erkeklerin Q şehrinden gelenlerinin yaşama şansı: 8%

⬆⬆ Bu sebepten dolayı, bu kategorideki kişilerin öleceğini varsayacağım.

In [19]:
indexler = third_class_maleQ.index
for x in indexler:
    df_train = df_train.drop(index=x)

### üçüncü sınıf erkeklerde 32 yaş üstü yolcular

In [20]:
third_class = df_train[df_train['Pclass'] == 3]
third_class_male = third_class[third_class['Sex'] == 'male']
third_class_male_liveN = len(third_class_male[third_class_male['Survived'] == 1])
third_class_male_diedN = len(third_class_male[third_class_male['Survived'] == 0])
third_class_male_totalN = third_class_male_liveN + third_class_male_diedN

print(f"üçüncü sınıf erkek yolculardan ölen    sayısı --> {third_class_male_diedN}")
print(f"üçüncü sınıf erkek yolculardan ölmeyen sayısı --> {third_class_male_liveN}")
print(f"üçüncü sınıf erkek yolculardan ölen oranı     --> {round((100 * (third_class_male_liveN / third_class_male_totalN)))}%")

üçüncü sınıf erkek yolculardan ölen    sayısı --> 264
üçüncü sınıf erkek yolculardan ölmeyen sayısı --> 44
üçüncü sınıf erkek yolculardan ölen oranı     --> 14%

In [21]:
third_class_male_32 = third_class_male[third_class_male['Age'] > 32]
third_class_male_32_live = len(third_class_male_32[third_class_male_32['Survived'] == 1])
third_class_male_32_died = len(third_class_male_32[third_class_male_32['Survived'] == 0])
third_class_male_32_total = third_class_male_32_live + third_class_male_32_died 

print(f"üçüncü sınıf erkek yolculardan 32 yaş üstü yaşama şansı --> {round((100 * (third_class_male_32_live / third_class_male_32_total)))}%")
print("\n⬆⬆ Bu sebepten dolayı, bu kategorideki kişilerin öleceğini varsayacağım. ")

üçüncü sınıf erkek yolculardan 32 yaş üstü yaşama şansı --> 5%

⬆⬆ Bu sebepten dolayı, bu kategorideki kişilerin öleceğini varsayacağım.

In [22]:
indexler = third_class_male_32.index
for x in indexler:
    df_train = df_train.drop(index=x)

### üçüncü sınıf erkekleryeni denemeler

In [23]:
third_class = df_train[df_train['Pclass'] == 3]
third_class_male = third_class[third_class['Sex'] == 'male']
third_class_male_liveN = len(third_class_male[third_class_male['Survived'] == 1])
third_class_male_diedN = len(third_class_male[third_class_male['Survived'] == 0])
third_class_male_totalN = third_class_male_liveN + third_class_male_diedN

print(f"üçüncü sınıf erkek yolculardan ölen sayısı    --> {third_class_male_diedN}")
print(f"üçüncü sınıf erkek yolculardan ölmeyen sayısı --> {third_class_male_liveN}")
print(f"üçüncü sınıf erkek yolcuların yaşama şansı    --> {round((100 * (third_class_male_liveN / third_class_male_totalN)))}%")

üçüncü sınıf erkek yolculardan ölen sayısı    --> 206
üçüncü sınıf erkek yolculardan ölmeyen sayısı --> 41
üçüncü sınıf erkek yolcuların yaşama şansı    --> 17%

In [24]:
# Yaşı tespit edilemeyen 3. sınıf erkeklerin hepsinin öldüğünü varsayıyorum:
xx = third_class_male
uu = xx[xx['Age'] > 0]
indexler = uu.index
for x in indexler:
    xx = xx.drop(index=x)
indexler = xx.index
for i in indexler:
    df_train = df_train.drop(index=i)

### üçüncü sınıf erkeklerde denemeye devam

In [25]:
third_class = df_train[df_train['Pclass'] == 3]
third_class_male = third_class[third_class['Sex'] == 'male']
third_class_male_liveN = len(third_class_male[third_class_male['Survived'] == 1])
third_class_male_diedN = len(third_class_male[third_class_male['Survived'] == 0])
third_class_male_totalN = third_class_male_liveN + third_class_male_diedN

print(f"üçüncü sınıf erkek yolculardan ölen sayısı    --> {third_class_male_diedN}")
print(f"üçüncü sınıf erkek yolculardan ölmeyen sayısı --> {third_class_male_liveN}")
print(f"üçüncü sınıf erkek yolcuların yaşama şansı    --> {round((100 * (third_class_male_liveN / third_class_male_totalN)))}%")

üçüncü sınıf erkek yolculardan ölen sayısı    --> 144
üçüncü sınıf erkek yolculardan ölmeyen sayısı --> 34
üçüncü sınıf erkek yolcuların yaşama şansı    --> 19%

In [26]:
third_class_male.sort_values(by='Age', ascending=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S
751,752,1,3,"Moor, Master. Meier",male,6.00,0,1,392096,12.4750,E121,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
480,481,0,3,"Goodwin, Master. Harold Victor",male,9.00,5,2,CA 2144,46.9000,NaN,S
489,490,1,3,"Coutts, Master. Eden Leslie ""Neville""",male,9.00,1,1,C.A. 37671,15.9000,NaN,S
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
819,820,0,3,"Skoog, Master. Karl Thorsten",male,10.00,3,2,347088,27.9000,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
731,732,0,3,"Hassan, Mr. Houssein G N",male,11.00,0,0,2699,18.7875,NaN,C
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
686,687,0,3,"Panula, Mr. Jaako Arnold",male,14.00,4,1,3101295,39.6875,NaN,S
683,684,0,3,"Goodwin, Mr. Charles Edward",male,14.00,5,2,CA 2144,46.9000,NaN,S
352,353,0,3,"Elias, Mr. Tannous",male,15.00,1,1,2695,7.2292,NaN,C
333,334,0,3,"Vander Planke, Mr. Leo Edmondus",male,16.00,2,0,345764,18.0000,NaN,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
746,747,0,3,"Abbott, Mr. Rossmore Edward",male,16.00,1,1,C.A. 2673,20.2500,NaN,S
764,765,0,3,"Eklund, Mr. Hans Linus",male,16.00,0,0,347074,7.7750,NaN,S
282,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.00,0,0,345778,9.5000,NaN,S
266,267,0,3,"Panula, Mr. Ernesti Arvid",male,16.00,4,1,3101295,39.6875,NaN,S
574,575,0,3,"Rush, Mr. Alfred George John",male,16.00,0,0,A/4. 20589,8.0500,NaN,S
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
433,434,0,3,"Kallio, Mr. Nikolai Erland",male,17.00,0,0,STON/O 2. 3101274,7.1250,NaN,S
844,845,0,3,"Culumovic, Mr. Jeso",male,17.00,0,0,315090,8.6625,NaN,S
500,501,0,3,"Calic, Mr. Petar",male,17.00,0,0,315086,8.6625,NaN,S
532,533,0,3,"Elias, Mr. Joseph Jr",male,17.00,1,1,2690,7.2292,NaN,C
163,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
721,722,0,3,"Jensen, Mr. Svend Lauritz",male,17.00,1,0,350048,7.0542,NaN,S
424,425,0,3,"Rosblom, Mr. Viktor Richard",male,18.00,1,1,370129,20.2125,NaN,S
688,689,0,3,"Fischer, Mr. Eberhard Thelander",male,18.00,0,0,350036,7.7958,NaN,S
371,372,0,3,"Wiklund, Mr. Jakob Alfred",male,18.00,1,0,3101267,6.4958,NaN,S
675,676,0,3,"Edvardsson, Mr. Gustaf Hjalmar",male,18.00,0,0,349912,7.7750,NaN,S
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
834,835,0,3,"Allum, Mr. Owen George",male,18.00,0,0,2223,8.3000,NaN,S
775,776,0,3,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",male,18.00,0,0,347078,7.7500,NaN,S
715,716,0,3,"Soholt, Mr. Peter Andreas Lauritz Andersen",male,19.00,0,0,348124,7.6500,F G73,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.00,0,0,349212,7.8958,NaN,S
379,380,0,3,"Gustafsson, Mr. Karl Gideon",male,19.00,0,0,347069,7.7750,NaN,S
283,284,1,3,"Dorking, Mr. Edward Arthur",male,19.00,0,0,A/5. 10482,8.0500,NaN,S
372,373,0,3,"Beavan, Mr. William Thomas",male,19.00,0,0,323951,8.0500,NaN,S
687,688,0,3,"Dakic, Mr. Branko",male,19.00,0,0,349228,10.1708,NaN,S
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.00,0,0,LINE,0.0000,NaN,S
646,647,0,3,"Cor, Mr. Liudevit",male,19.00,0,0,349231,7.8958,NaN,S
575,576,0,3,"Patchett, Mr. George",male,19.00,0,0,358585,14.5000,NaN,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
566,567,0,3,"Stoytcheff, Mr. Ilia",male,19.00,0,0,349205,7.8958,NaN,S
762,763,1,3,"Barah, Mr. Hanna Assi",male,20.00,0,0,2663,7.2292,NaN,C
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.00,0,0,7534,9.8458,NaN,S
840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.00,0,0,SOTON/O2 3101287,7.9250,NaN,S
378,379,0,3,"Betros, Mr. Tannous",male,20.00,0,0,2648,4.0125,NaN,C
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
725,726,0,3,"Oreskovic, Mr. Luka",male,20.00,0,0,315094,8.6625,NaN,S
682,683,0,3,"Olsvigen, Mr. Thor Anderson",male,20.00,0,0,6563,9.2250,NaN,S
664,665,1,3,"Lindqvist, Mr. Eino William",male,20.00,1,0,STON/O 2. 3101285,7.9250,NaN,S
622,623,1,3,"Nakid, Mr. Sahid",male,20.00,1,1,2653,15.7417,NaN,C
640,641,0,3,"Jensen, Mr. Hans Peder",male,20.00,0,0,350050,7.8542,NaN,S
441,442,0,3,"Hampe, Mr. Leon",male,20.00,0,0,345769,9.5000,NaN,S
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,NaN,S
491,492,0,3,"Windelov, Mr. Einar",male,21.00,0,0,SOTON/OQ 3101317,7.2500,NaN,S
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
391,392,1,3,"Jansson, Mr. Carl Olof",male,21.00,0,0,350034,7.7958,NaN,S
494,495,0,3,"Stanley, Mr. Edward Roland",male,21.00,0,0,A/4 45380,8.0500,NaN,S
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
836,837,0,3,"Pasic, Mr. Jakob",male,21.00,0,0,315097,8.6625,NaN,S
623,624,0,3,"Hansen, Mr. Henry Damsgaard",male,21.00,0,0,350029,7.8542,NaN,S
408,409,0,3,"Birkeland, Mr. Hans Martin Monsen",male,21.00,0,0,312992,7.7750,NaN,S
652,653,0,3,"Kalvik, Mr. Johannes Halvorsen",male,21.00,0,0,8475,8.4333,NaN,S
624,625,0,3,"Bowen, Mr. David John ""Dai""",male,21.00,0,0,54636,16.1000,NaN,S
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
553,554,1,3,"Leeni, Mr. Fahim (""Philip Zenni"")",male,22.00,0,0,2620,7.2250,NaN,C
521,522,0,3,"Vovk, Mr. Janko",male,22.00,0,0,349252,7.8958,NaN,S
478,479,0,3,"Karlsson, Mr. Nils August",male,22.00,0,0,350060,7.5208,NaN,S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
212,213,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
112,113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S
395,396,0,3,"Johansson, Mr. Erik",male,22.00,0,0,350052,7.7958,NaN,S
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
588,589,0,3,"Gilinski, Mr. Eliezer",male,22.00,0,0,14973,8.0500,NaN,S
287,288,0,3,"Naidenoff, Mr. Penko",male,22.00,0,0,349206,7.8958,NaN,S
320,321,0,3,"Dennis, Mr. Samuel",male,22.00,0,0,A/5 21172,7.2500,NaN,S
753,754,0,3,"Jonkoff, Mr. Lalio",male,23.00,0,0,349204,7.8958,NaN,S
350,351,0,3,"Odahl, Mr. Nils Martin",male,23.00,0,0,7267,9.2250,NaN,S
833,834,0,3,"Augustsson, Mr. Albert",male,23.00,0,0,347468,7.8542,NaN,S
296,297,0,3,"Hanna, Mr. Mansour",male,23.50,0,0,2693,7.2292,NaN,C
770,771,0,3,"Lievens, Mr. Rene Aime",male,24.00,0,0,345781,9.5000,NaN,S
294,295,0,3,"Mineff, Mr. Ivan",male,24.00,0,0,349233,7.8958,NaN,S
499,500,0,3,"Svensson, Mr. Olof",male,24.00,0,0,350035,7.7958,NaN,S
210,211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
514,515,0,3,"Coleff, Mr. Satio",male,24.00,0,0,349209,7.4958,NaN,S
743,744,0,3,"McNamee, Mr. Neal",male,24.00,1,0,376566,16.1000,NaN,S
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
565,566,0,3,"Davies, Mr. Alfred J",male,24.00,2,0,A/4 48871,24.1500,NaN,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
676,677,0,3,"Sawyer, Mr. Frederick Charles",male,24.50,0,0,342826,8.0500,NaN,S
785,786,0,3,"Harmer, Mr. Abraham (David Lishin)",male,25.00,0,0,374887,7.2500,NaN,S
784,785,0,3,"Ali, Mr. William",male,25.00,0,0,SOTON/O.Q. 3101312,7.0500,NaN,S
794,795,0,3,"Dantcheff, Mr. Ristiu",male,25.00,0,0,349203,7.8958,NaN,S
693,694,0,3,"Saad, Mr. Khalil",male,25.00,0,0,2672,7.2250,NaN,C
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.00,0,0,SOTON/OQ 392076,7.0500,NaN,S
271,272,1,3,"Tornquist, Mr. William Henry",male,25.00,0,0,LINE,0.0000,NaN,S
442,443,0,3,"Petterson, Mr. Johan Emil",male,25.00,1,0,347076,7.7750,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
267,268,1,3,"Persson, Mr. Ernst Ulrik",male,25.00,1,0,347083,7.7750,NaN,S
353,354,0,3,"Arnold-Franchi, Mr. Josef",male,25.00,1,0,349237,17.8000,NaN,S
810,811,0,3,"Alexander, Mr. William",male,26.00,0,0,3474,7.8875,NaN,S
401,402,0,3,"Adams, Mr. John",male,26.00,0,0,341826,8.0500,NaN,S
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
704,705,0,3,"Hansen, Mr. Henrik Juul",male,26.00,1,0,350025,7.8542,NaN,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
509,510,1,3,"Lang, Mr. Fang",male,26.00,0,0,1601,56.4958,NaN,S
628,629,0,3,"Bostandyeff, Mr. Guentcho",male,26.00,0,0,349224,7.8958,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.00,0,0,349248,7.8958,NaN,S
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S
321,322,0,3,"Danoff, Mr. Yoto",male,27.00,0,0,349219,7.8958,NaN,S
620,621,0,3,"Yasbeck, Mr. Antoni",male,27.00,1,0,2659,14.4542,NaN,C
804,805,1,3,"Hedman, Mr. Oskar Arvid",male,27.00,0,0,347089,6.9750,NaN,S
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
821,822,1,3,"Lulic, Mr. Nikola",male,27.00,0,0,315098,8.6625,NaN,S
169,170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
281,282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28.00,0,0,347464,7.8542,NaN,S
756,757,0,3,"Carlsson, Mr. August Sigfrid",male,28.00,0,0,350042,7.7958,NaN,S
508,509,0,3,"Olsen, Mr. Henry Margido",male,28.00,0,0,C 4001,22.5250,NaN,S
313,314,0,3,"Hendekovic, Mr. Ignjac",male,28.00,0,0,349243,7.8958,NaN,S
355,356,0,3,"Vanden Steen, Mr. Leo Peter",male,28.00,0,0,345783,9.5000,NaN,S
392,393,0,3,"Gustafsson, Mr. Johan Birger",male,28.00,2,0,3101277,7.9250,NaN,S
403,404,0,3,"Hakkarainen, Mr. Pekka Pietari",male,28.00,1,0,STON/O2. 3101279,15.8500,NaN,S
735,736,0,3,"Williams, Mr. Leslie",male,28.50,0,0,54636,16.1000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
477,478,0,3,"Braund, Mr. Lewis Richard",male,29.00,1,0,3460,7.0458,NaN,S
455,456,1,3,"Jalsevac, Mr. Ivan",male,29.00,0,0,349240,7.8958,NaN,C
422,423,0,3,"Zimmerman, Mr. Leo",male,29.00,0,0,315082,7.8750,NaN,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S
713,714,0,3,"Larsson, Mr. August Viktor",male,29.00,0,0,7545,9.4833,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
286,287,1,3,"de Mulder, Mr. Theodore",male,30.00,0,0,345774,9.5000,NaN,S
365,366,0,3,"Adahl, Mr. Mauritz Nils Martin",male,30.00,0,0,C 7076,7.2500,NaN,S
798,799,0,3,"Ibrahim Shawah, Mr. Yousseff",male,30.00,0,0,2685,7.2292,NaN,C
488,489,0,3,"Somerton, Mr. Francis William",male,30.00,0,0,A.5. 18509,8.0500,NaN,S
244,245,0,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,NaN,C
253,254,0,3,"Lobb, Mr. William Arthur",male,30.00,1,0,A/5. 3336,16.1000,NaN,S
606,607,0,3,"Karaic, Mr. Milan",male,30.00,0,0,349246,7.8958,NaN,S
157,158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
814,815,0,3,"Tomlin, Mr. Ernest Portage",male,30.50,0,0,364499,8.0500,NaN,S
744,745,1,3,"Stranden, Mr. Juho",male,31.00,0,0,STON/O 2. 3101288,7.9250,NaN,S
805,806,0,3,"Johansson, Mr. Karl Johan",male,31.00,0,0,347063,7.7750,NaN,S
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S
838,839,1,3,"Chip, Mr. Chang",male,32.00,0,0,1601,56.4958,NaN,S
636,637,0,3,"Leinonen, Mr. Antti Gustaf",male,32.00,0,0,STON/O 2. 3101292,7.9250,NaN,S
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
519,520,0,3,"Pavlovic, Mr. Stefo",male,32.00,0,0,349242,7.8958,NaN,S
569,570,1,3,"Jonsson, Mr. Carl",male,32.00,0,0,350417,7.8542,NaN,S
579,580,1,3,"Jussila, Mr. Eiriik",male,32.00,0,0,STON/O 2. 3101286,7.9250,NaN,S
769,770,0,3,"Gronnestad, Mr. Daniel Danielsen",male,32.00,0,0,8471,8.3625,NaN,S
382,383,0,3,"Tikkanen, Mr. Juho",male,32.00,0,0,STON/O 2. 3101293,7.9250,NaN,S
429,430,1,3,"Pickard, Mr. Berk (Berk Trembisky)",male,32.00,0,0,SOTON/O.Q. 392078,8.0500,E10,S

In [27]:
third_class_male.sort_values(by='SibSp', ascending=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S
683,684,0,3,"Goodwin, Mr. Charles Edward",male,14.00,5,2,CA 2144,46.9000,NaN,S
480,481,0,3,"Goodwin, Master. Harold Victor",male,9.00,5,2,CA 2144,46.9000,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S
266,267,0,3,"Panula, Mr. Ernesti Arvid",male,16.00,4,1,3101295,39.6875,NaN,S
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
686,687,0,3,"Panula, Mr. Jaako Arnold",male,14.00,4,1,3101295,39.6875,NaN,S
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
819,820,0,3,"Skoog, Master. Karl Thorsten",male,10.00,3,2,347088,27.9000,NaN,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
392,393,0,3,"Gustafsson, Mr. Johan Birger",male,28.00,2,0,3101277,7.9250,NaN,S
565,566,0,3,"Davies, Mr. Alfred J",male,24.00,2,0,A/4 48871,24.1500,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
333,334,0,3,"Vander Planke, Mr. Leo Edmondus",male,16.00,2,0,345764,18.0000,NaN,S
424,425,0,3,"Rosblom, Mr. Viktor Richard",male,18.00,1,1,370129,20.2125,NaN,S
489,490,1,3,"Coutts, Master. Eden Leslie ""Neville""",male,9.00,1,1,C.A. 37671,15.9000,NaN,S
746,747,0,3,"Abbott, Mr. Rossmore Edward",male,16.00,1,1,C.A. 2673,20.2500,NaN,S
743,744,0,3,"McNamee, Mr. Neal",male,24.00,1,0,376566,16.1000,NaN,S
253,254,0,3,"Lobb, Mr. William Arthur",male,30.00,1,0,A/5. 3336,16.1000,NaN,S
532,533,0,3,"Elias, Mr. Joseph Jr",male,17.00,1,1,2690,7.2292,NaN,C
267,268,1,3,"Persson, Mr. Ernst Ulrik",male,25.00,1,0,347083,7.7750,NaN,S
721,722,0,3,"Jensen, Mr. Svend Lauritz",male,17.00,1,0,350048,7.0542,NaN,S
704,705,0,3,"Hansen, Mr. Henrik Juul",male,26.00,1,0,350025,7.8542,NaN,S
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S
620,621,0,3,"Yasbeck, Mr. Antoni",male,27.00,1,0,2659,14.4542,NaN,C
352,353,0,3,"Elias, Mr. Tannous",male,15.00,1,1,2695,7.2292,NaN,C
477,478,0,3,"Braund, Mr. Lewis Richard",male,29.00,1,0,3460,7.0458,NaN,S
664,665,1,3,"Lindqvist, Mr. Eino William",male,20.00,1,0,STON/O 2. 3101285,7.9250,NaN,S
442,443,0,3,"Petterson, Mr. Johan Emil",male,25.00,1,0,347076,7.7750,NaN,S
371,372,0,3,"Wiklund, Mr. Jakob Alfred",male,18.00,1,0,3101267,6.4958,NaN,S
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S
622,623,1,3,"Nakid, Mr. Sahid",male,20.00,1,1,2653,15.7417,NaN,C
403,404,0,3,"Hakkarainen, Mr. Pekka Pietari",male,28.00,1,0,STON/O2. 3101279,15.8500,NaN,S
353,354,0,3,"Arnold-Franchi, Mr. Josef",male,25.00,1,0,349237,17.8000,NaN,S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
836,837,0,3,"Pasic, Mr. Jakob",male,21.00,0,0,315097,8.6625,NaN,S
834,835,0,3,"Allum, Mr. Owen George",male,18.00,0,0,2223,8.3000,NaN,S
623,624,0,3,"Hansen, Mr. Henry Damsgaard",male,21.00,0,0,350029,7.8542,NaN,S
833,834,0,3,"Augustsson, Mr. Albert",male,23.00,0,0,347468,7.8542,NaN,S
838,839,1,3,"Chip, Mr. Chang",male,32.00,0,0,1601,56.4958,NaN,S
624,625,0,3,"Bowen, Mr. David John ""Dai""",male,21.00,0,0,54636,16.1000,NaN,S
821,822,1,3,"Lulic, Mr. Nikola",male,27.00,0,0,315098,8.6625,NaN,S
628,629,0,3,"Bostandyeff, Mr. Guentcho",male,26.00,0,0,349224,7.8958,NaN,S
636,637,0,3,"Leinonen, Mr. Antti Gustaf",male,32.00,0,0,STON/O 2. 3101292,7.9250,NaN,S
640,641,0,3,"Jensen, Mr. Hans Peder",male,20.00,0,0,350050,7.8542,NaN,S
606,607,0,3,"Karaic, Mr. Milan",male,30.00,0,0,349246,7.8958,NaN,S
764,765,0,3,"Eklund, Mr. Hans Linus",male,16.00,0,0,347074,7.7750,NaN,S
588,589,0,3,"Gilinski, Mr. Eliezer",male,22.00,0,0,14973,8.0500,NaN,S
840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.00,0,0,SOTON/O2 3101287,7.9250,NaN,S
579,580,1,3,"Jussila, Mr. Eiriik",male,32.00,0,0,STON/O 2. 3101286,7.9250,NaN,S
575,576,0,3,"Patchett, Mr. George",male,19.00,0,0,358585,14.5000,NaN,S
844,845,0,3,"Culumovic, Mr. Jeso",male,17.00,0,0,315090,8.6625,NaN,S
574,575,0,3,"Rush, Mr. Alfred George John",male,16.00,0,0,A/4. 20589,8.0500,NaN,S
569,570,1,3,"Jonsson, Mr. Carl",male,32.00,0,0,350417,7.8542,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.00,0,0,349248,7.8958,NaN,S
566,567,0,3,"Stoytcheff, Mr. Ilia",male,19.00,0,0,349205,7.8958,NaN,S
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.00,0,0,7534,9.8458,NaN,S
553,554,1,3,"Leeni, Mr. Fahim (""Philip Zenni"")",male,22.00,0,0,2620,7.2250,NaN,C
877,878,0,3,"Petroff, Mr. Nedelio",male,19.00,0,0,349212,7.8958,NaN,S
521,522,0,3,"Vovk, Mr. Janko",male,22.00,0,0,349252,7.8958,NaN,S
646,647,0,3,"Cor, Mr. Liudevit",male,19.00,0,0,349231,7.8958,NaN,S
814,815,0,3,"Tomlin, Mr. Ernest Portage",male,30.50,0,0,364499,8.0500,NaN,S
652,653,0,3,"Kalvik, Mr. Johannes Halvorsen",male,21.00,0,0,8475,8.4333,NaN,S
769,770,0,3,"Gronnestad, Mr. Daniel Danielsen",male,32.00,0,0,8471,8.3625,NaN,S
762,763,1,3,"Barah, Mr. Hanna Assi",male,20.00,0,0,2663,7.2292,NaN,C
756,757,0,3,"Carlsson, Mr. August Sigfrid",male,28.00,0,0,350042,7.7958,NaN,S
753,754,0,3,"Jonkoff, Mr. Lalio",male,23.00,0,0,349204,7.8958,NaN,S
751,752,1,3,"Moor, Master. Meier",male,6.00,0,1,392096,12.4750,E121,S
744,745,1,3,"Stranden, Mr. Juho",male,31.00,0,0,STON/O 2. 3101288,7.9250,NaN,S
770,771,0,3,"Lievens, Mr. Rene Aime",male,24.00,0,0,345781,9.5000,NaN,S
735,736,0,3,"Williams, Mr. Leslie",male,28.50,0,0,54636,16.1000,NaN,S
731,732,0,3,"Hassan, Mr. Houssein G N",male,11.00,0,0,2699,18.7875,NaN,C
775,776,0,3,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",male,18.00,0,0,347078,7.7500,NaN,S
514,515,0,3,"Coleff, Mr. Satio",male,24.00,0,0,349209,7.4958,NaN,S
784,785,0,3,"Ali, Mr. William",male,25.00,0,0,SOTON/O.Q. 3101312,7.0500,NaN,S
785,786,0,3,"Harmer, Mr. Abraham (David Lishin)",male,25.00,0,0,374887,7.2500,NaN,S
725,726,0,3,"Oreskovic, Mr. Luka",male,20.00,0,0,315094,8.6625,NaN,S
715,716,0,3,"Soholt, Mr. Peter Andreas Lauritz Andersen",male,19.00,0,0,348124,7.6500,F G73,S
713,714,0,3,"Larsson, Mr. August Viktor",male,29.00,0,0,7545,9.4833,NaN,S
794,795,0,3,"Dantcheff, Mr. Ristiu",male,25.00,0,0,349203,7.8958,NaN,S
693,694,0,3,"Saad, Mr. Khalil",male,25.00,0,0,2672,7.2250,NaN,C
688,689,0,3,"Fischer, Mr. Eberhard Thelander",male,18.00,0,0,350036,7.7958,NaN,S
687,688,0,3,"Dakic, Mr. Branko",male,19.00,0,0,349228,10.1708,NaN,S
798,799,0,3,"Ibrahim Shawah, Mr. Yousseff",male,30.00,0,0,2685,7.2292,NaN,C
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
682,683,0,3,"Olsvigen, Mr. Thor Anderson",male,20.00,0,0,6563,9.2250,NaN,S
676,677,0,3,"Sawyer, Mr. Frederick Charles",male,24.50,0,0,342826,8.0500,NaN,S
804,805,1,3,"Hedman, Mr. Oskar Arvid",male,27.00,0,0,347089,6.9750,NaN,S
805,806,0,3,"Johansson, Mr. Karl Johan",male,31.00,0,0,347063,7.7750,NaN,S
675,676,0,3,"Edvardsson, Mr. Gustaf Hjalmar",male,18.00,0,0,349912,7.7750,NaN,S
810,811,0,3,"Alexander, Mr. William",male,26.00,0,0,3474,7.8875,NaN,S
519,520,0,3,"Pavlovic, Mr. Stefo",male,32.00,0,0,349242,7.8958,NaN,S
433,434,0,3,"Kallio, Mr. Nikolai Erland",male,17.00,0,0,STON/O 2. 3101274,7.1250,NaN,S
509,510,1,3,"Lang, Mr. Fang",male,26.00,0,0,1601,56.4958,NaN,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
157,158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S
163,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
169,170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
210,211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
212,213,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
112,113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,NaN,S
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
508,509,0,3,"Olsen, Mr. Henry Margido",male,28.00,0,0,C 4001,22.5250,NaN,S
244,245,0,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,NaN,C
382,383,0,3,"Tikkanen, Mr. Juho",male,32.00,0,0,STON/O 2. 3101293,7.9250,NaN,S
391,392,1,3,"Jansson, Mr. Carl Olof",male,21.00,0,0,350034,7.7958,NaN,S
395,396,0,3,"Johansson, Mr. Erik",male,22.00,0,0,350052,7.7958,NaN,S
401,402,0,3,"Adams, Mr. John",male,26.00,0,0,341826,8.0500,NaN,S
408,409,0,3,"Birkeland, Mr. Hans Martin Monsen",male,21.00,0,0,312992,7.7750,NaN,S
422,423,0,3,"Zimmerman, Mr. Leo",male,29.00,0,0,315082,7.8750,NaN,S
429,430,1,3,"Pickard, Mr. Berk (Berk Trembisky)",male,32.00,0,0,SOTON/O.Q. 392078,8.0500,E10,S
441,442,0,3,"Hampe, Mr. Leon",male,20.00,0,0,345769,9.5000,NaN,S
455,456,1,3,"Jalsevac, Mr. Ivan",male,29.00,0,0,349240,7.8958,NaN,C
478,479,0,3,"Karlsson, Mr. Nils August",male,22.00,0,0,350060,7.5208,NaN,S
488,489,0,3,"Somerton, Mr. Francis William",male,30.00,0,0,A.5. 18509,8.0500,NaN,S
491,492,0,3,"Windelov, Mr. Einar",male,21.00,0,0,SOTON/OQ 3101317,7.2500,NaN,S
494,495,0,3,"Stanley, Mr. Edward Roland",male,21.00,0,0,A/4 45380,8.0500,NaN,S
499,500,0,3,"Svensson, Mr. Olof",male,24.00,0,0,350035,7.7958,NaN,S
500,501,0,3,"Calic, Mr. Petar",male,17.00,0,0,315086,8.6625,NaN,S
379,380,0,3,"Gustafsson, Mr. Karl Gideon",male,19.00,0,0,347069,7.7750,NaN,S
378,379,0,3,"Betros, Mr. Tannous",male,20.00,0,0,2648,4.0125,NaN,C
372,373,0,3,"Beavan, Mr. William Thomas",male,19.00,0,0,323951,8.0500,NaN,S
294,295,0,3,"Mineff, Mr. Ivan",male,24.00,0,0,349233,7.8958,NaN,S
271,272,1,3,"Tornquist, Mr. William Henry",male,25.00,0,0,LINE,0.0000,NaN,S
281,282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28.00,0,0,347464,7.8542,NaN,S
282,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.00,0,0,345778,9.5000,NaN,S
283,284,1,3,"Dorking, Mr. Edward Arthur",male,19.00,0,0,A/5. 10482,8.0500,NaN,S
286,287,1,3,"de Mulder, Mr. Theodore",male,30.00,0,0,345774,9.5000,NaN,S
287,288,0,3,"Naidenoff, Mr. Penko",male,22.00,0,0,349206,7.8958,NaN,S
296,297,0,3,"Hanna, Mr. Mansour",male,23.50,0,0,2693,7.2292,NaN,C
365,366,0,3,"Adahl, Mr. Mauritz Nils Martin",male,30.00,0,0,C 7076,7.2500,NaN,S
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.00,0,0,LINE,0.0000,NaN,S
313,314,0,3,"Hendekovic, Mr. Ignjac",male,28.00,0,0,349243,7.8958,NaN,S
320,321,0,3,"Dennis, Mr. Samuel",male,22.00,0,0,A/5 21172,7.2500,NaN,S
321,322,0,3,"Danoff, Mr. Yoto",male,27.00,0,0,349219,7.8958,NaN,S
350,351,0,3,"Odahl, Mr. Nils Martin",male,23.00,0,0,7267,9.2250,NaN,S
355,356,0,3,"Vanden Steen, Mr. Leo Peter",male,28.00,0,0,345783,9.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.00,0,0,SOTON/OQ 392076,7.0500,NaN,S

In [28]:
f = third_class_male.sort_values(by='Survived', ascending=False)
f.sort_values(by='Age', ascending=False)

filtre = third_class_male['SibSp'] > third_class_male['Parch']
z1 = third_class_male.loc[filtre]

indexler = z1.index
for i in indexler:
    df_train = df_train.drop(index=i)
# len(z1[z1['Survived'] == 1]) / len(z1)

### Yeni

In [29]:
third_class = df_train[df_train['Pclass'] == 3]
third_class_male = third_class[third_class['Sex'] == 'male']
third_class_male_liveN = len(third_class_male[third_class_male['Survived'] == 1])
third_class_male_diedN = len(third_class_male[third_class_male['Survived'] == 0])
third_class_male_totalN = third_class_male_liveN + third_class_male_diedN

print(f"üçüncü sınıf erkek yolculardan ölen sayısı    --> {third_class_male_diedN}")
print(f"üçüncü sınıf erkek yolculardan ölmeyen sayısı --> {third_class_male_liveN}")
print(f"üçüncü sınıf erkek yolcuların yaşama şansı    --> {round((100 * (third_class_male_liveN / third_class_male_totalN)))}%")

üçüncü sınıf erkek yolculardan ölen sayısı    --> 113
üçüncü sınıf erkek yolculardan ölmeyen sayısı --> 30
üçüncü sınıf erkek yolcuların yaşama şansı    --> 21%

In [30]:
# third_class_male.sort_values(by='Fare', ascending=False)
p = third_class_male[third_class_male['Fare'] < 7.9250]
indexler = p.index
for i in indexler:
    df_train = df_train.drop(index=i)

### yeni 1

In [31]:
third_class = df_train[df_train['Pclass'] == 3]
third_class_male = third_class[third_class['Sex'] == 'male']
third_class_male_liveN = len(third_class_male[third_class_male['Survived'] == 1])
third_class_male_diedN = len(third_class_male[third_class_male['Survived'] == 0])
third_class_male_totalN = third_class_male_liveN + third_class_male_diedN

print(f"üçüncü sınıf erkek yolculardan ölen sayısı    --> {third_class_male_diedN}")
print(f"üçüncü sınıf erkek yolculardan ölmeyen sayısı --> {third_class_male_liveN}")
print(f"üçüncü sınıf erkek yolcuların yaşama şansı    --> {round((100 * (third_class_male_liveN / third_class_male_totalN)))}%")

üçüncü sınıf erkek yolculardan ölen sayısı    --> 51
üçüncü sınıf erkek yolculardan ölmeyen sayısı --> 21
üçüncü sınıf erkek yolcuların yaşama şansı    --> 29%

In [32]:
# third_class_male.sort_values(by='Survived', ascending=False)
# third_class_male.sort_values(by='Age', ascending=False)
h = third_class_male[third_class_male['Age'] < 10]
indexler = h.index
for i in indexler:
    df_train = df_train.drop(index=i)

# yenii

In [33]:
third_class = df_train[df_train['Pclass'] == 3]
third_class_male = third_class[third_class['Sex'] == 'male']
third_class_male_liveN = len(third_class_male[third_class_male['Survived'] == 1])
third_class_male_diedN = len(third_class_male[third_class_male['Survived'] == 0])
third_class_male_totalN = third_class_male_liveN + third_class_male_diedN

print(f"üçüncü sınıf erkek yolculardan ölen sayısı    --> {third_class_male_diedN}")
print(f"üçüncü sınıf erkek yolculardan ölmeyen sayısı --> {third_class_male_liveN}")
print(f"üçüncü sınıf erkek yolcuların yaşama şansı    --> {round((100 * (third_class_male_liveN / third_class_male_totalN)))}%")

üçüncü sınıf erkek yolculardan ölen sayısı    --> 51
üçüncü sınıf erkek yolculardan ölmeyen sayısı --> 14
üçüncü sınıf erkek yolcuların yaşama şansı    --> 22%

In [34]:
# third_class_male.sort_values(by='Age', ascending=False)
d = third_class_male[third_class_male['Age'] < 26]
d
indexler = d.index
for i in indexler:
    df_train = df_train.drop(index=i)

### yeniiii

In [35]:
third_class = df_train[df_train['Pclass'] == 3]
third_class_male = third_class[third_class['Sex'] == 'male']
third_class_male_liveN = len(third_class_male[third_class_male['Survived'] == 1])
third_class_male_diedN = len(third_class_male[third_class_male['Survived'] == 0])
third_class_male_totalN = third_class_male_liveN + third_class_male_diedN

print(f"üçüncü sınıf erkek yolculardan ölen sayısı    --> {third_class_male_diedN}")
print(f"üçüncü sınıf erkek yolculardan ölmeyen sayısı --> {third_class_male_liveN}")
print(f"üçüncü sınıf erkek yolcuların yaşama şansı    --> {round((100 * (third_class_male_liveN / third_class_male_totalN)))}%")

üçüncü sınıf erkek yolculardan ölen sayısı    --> 15
üçüncü sınıf erkek yolculardan ölmeyen sayısı --> 10
üçüncü sınıf erkek yolcuların yaşama şansı    --> 40%

In [36]:
# third_class_male.sort_values(by='Age', ascending=False)
third_class_male['Age'].mean()
j = third_class_male[third_class_male['Age'] < 29]
indexler = j.index
for i in indexler:
    df_train = df_train.drop(index=i)

### son

In [37]:
third_class = df_train[df_train['Pclass'] == 3]
third_class_male = third_class[third_class['Sex'] == 'male']
third_class_male_liveN = len(third_class_male[third_class_male['Survived'] == 1])
third_class_male_diedN = len(third_class_male[third_class_male['Survived'] == 0])
third_class_male_totalN = third_class_male_liveN + third_class_male_diedN

print(f"üçüncü sınıf erkek yolculardan ölen sayısı    --> {third_class_male_diedN}")
print(f"üçüncü sınıf erkek yolculardan ölmeyen sayısı --> {third_class_male_liveN}")
print(f"üçüncü sınıf erkek yolcuların yaşama şansı    --> {round((100 * (third_class_male_liveN / third_class_male_totalN)))}%")

üçüncü sınıf erkek yolculardan ölen sayısı    --> 8
üçüncü sınıf erkek yolculardan ölmeyen sayısı --> 7
üçüncü sınıf erkek yolcuların yaşama şansı    --> 47%

In [38]:
# third_class_male.sort_values(by='Fare')
third_class_male['Fare'].mean()
a = third_class_male[third_class_male['Fare'] > 9]
indexler = a.index
for i in indexler:
    df_train = df_train.drop(index=i)

### sonn

In [39]:
third_class = df_train[df_train['Pclass'] == 3]
third_class_male = third_class[third_class['Sex'] == 'male']
third_class_male_liveN = len(third_class_male[third_class_male['Survived'] == 1])
third_class_male_diedN = len(third_class_male[third_class_male['Survived'] == 0])
third_class_male_totalN = third_class_male_liveN + third_class_male_diedN

print(f"üçüncü sınıf erkek yolculardan ölen sayısı    --> {third_class_male_diedN}")
print(f"üçüncü sınıf erkek yolculardan ölmeyen sayısı --> {third_class_male_liveN}")
print(f"üçüncü sınıf erkek yolcuların yaşama şansı    --> {round((100 * (third_class_male_liveN / third_class_male_totalN)))}%")

print("Yani buradaki küme, ölecekler demek oluyor.")

üçüncü sınıf erkek yolculardan ölen sayısı    --> 7
üçüncü sınıf erkek yolculardan ölmeyen sayısı --> 3
üçüncü sınıf erkek yolcuların yaşama şansı    --> 30%
Yani buradaki küme, ölecekler demek oluyor.

### yeni yelkenler

In [40]:
# 2. sınıf kadın yolcular yaşayacaklar:
filtre = df_train['Sex'] == 'female'
z = df_train.loc[filtre]
asd = z[z['Pclass'] == 2]
indexler = asd.index
for i in indexler:
    df_train = df_train.drop(index=i)

### başka

In [41]:
a = len(df_train[df_train['Survived'] == 1]) / len(df_train)
print(f"Geri kalanların yaşama oranları --> {a}")

Geri kalanların yaşama oranları --> 0.36243386243386244

In [42]:
len(df_train)

378

In [43]:
# df_train.sort_values(by='Age', ascending=True)
a = df_train[df_train['Age'] < 6]
filtre = df_train['Age'] < 6
aa = df_train.loc[filtre] 
filtre2 = aa['Pclass'] == 3
zz = aa.loc[~filtre2]
indexler = zz.index
for i in indexler:
    df_train = df_train.drop(index=i)

### yepyeni

In [44]:
a = len(df_train[df_train['Survived'] == 1]) / len(df_train)
print(f"Geri kalanların yaşama oranları --> {a}")

Geri kalanların yaşama oranları --> 0.3451086956521739

In [45]:
len(df_train)

368

In [46]:
a = df_train[df_train['Sex'] == 'male']
filtrem = a['Age'] > 52
x = a.loc[filtrem]
indexler = x.index
for i in indexler:
    df_train = df_train.drop(index=i)

### yesyeni

In [47]:
a = len(df_train[df_train['Survived'] == 1]) / len(df_train)
print(f"Geri kalanların yaşama oranları --> {a}")

Geri kalanların yaşama oranları --> 0.3649851632047478

In [48]:
len(df_train)

337

In [51]:
len(df_train[df_train['Survived'] == 1])

123

In [52]:
len(df_train[df_train['Survived'] == 0])

214

In [75]:
# 20-30 yaş arasındakiler:
filtre = (df_train['Age'] > 40) & (df_train['Fare'] < 26) & (df_train['Fare'] > 10)
df_train.loc[filtre].sort_values(by='Survived', ascending=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
288,289,1,2,"Hosono, Mr. Masabumi",male,42.0,0,0,237798,13.0000,NaN,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0,1,0,A/5. 3337,14.5000,NaN,S
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.0,0,0,244310,13.0000,NaN,S
150,151,0,2,"Bateman, Rev. Robert James",male,51.0,0,0,S.O.P. 1166,12.5250,NaN,S
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0,2,370129,20.2125,NaN,S
362,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.0,0,1,2691,14.4542,NaN,C
463,464,0,2,"Milling, Mr. Jacob Christian",male,48.0,0,0,234360,13.0000,NaN,S
586,587,0,2,"Jarvis, Mr. John Denzil",male,47.0,0,0,237565,15.0000,NaN,S
662,663,0,1,"Colley, Mr. Edward Pomeroy",male,47.0,0,0,5727,25.5875,E58,S
695,696,0,2,"Chapman, Mr. Charles Henry",male,52.0,0,0,248731,13.5000,NaN,S
714,715,0,2,"Greenberg, Mr. Samuel",male,52.0,0,0,250647,13.0000,NaN,S
723,724,0,2,"Hodges, Mr. Henry Price",male,50.0,0,0,250643,13.0000,NaN,S

In [76]:
df_train.sort_values(by='Age', ascending=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.00,0,0,4134,9.5875,NaN,S
262,263,0,1,"Taussig, Mr. Emil",male,52.00,1,1,110413,79.6500,E67,S
695,696,0,2,"Chapman, Mr. Charles Henry",male,52.00,0,0,248731,13.5000,NaN,S
714,715,0,2,"Greenberg, Mr. Samuel",male,52.00,0,0,250647,13.0000,NaN,S
449,450,1,1,"Peuchen, Major. Arthur Godfrey",male,52.00,0,0,113786,30.5000,C104,S
857,858,1,1,"Daly, Mr. Peter Denis",male,51.00,0,0,113055,26.5500,E17,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
150,151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
434,435,0,1,"Silvey, Mr. William Baird",male,50.00,1,0,13507,55.9000,E44,S
660,661,1,1,"Frauenthal, Dr. Henry William",male,50.00,2,0,PC 17611,133.6500,NaN,S
723,724,0,2,"Hodges, Mr. Henry Price",male,50.00,0,0,250643,13.0000,NaN,S
544,545,0,1,"Douglas, Mr. Walter Donald",male,50.00,1,0,PC 17761,106.4250,C86,C
599,600,1,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",male,49.00,1,0,PC 17485,56.9292,A20,C
698,699,0,1,"Thayer, Mr. John Borland",male,49.00,1,1,17421,110.8833,C68,C
453,454,1,1,"Goldenberg, Mr. Samuel L",male,49.00,1,0,17453,89.1042,C92,C
645,646,1,1,"Harper, Mr. Henry Sleeper",male,48.00,1,0,PC 17572,76.7292,D33,C
460,461,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26.5500,E12,S
712,713,1,1,"Taylor, Mr. Elmer Zebley",male,48.00,1,0,19996,52.0000,C126,S
463,464,0,2,"Milling, Mr. Jacob Christian",male,48.00,0,0,234360,13.0000,NaN,S
736,737,0,3,"Ford, Mrs. Edward (Margaret Ann Watson)",female,48.00,1,3,W./C. 6608,34.3750,NaN,S
586,587,0,2,"Jarvis, Mr. John Denzil",male,47.00,0,0,237565,15.0000,NaN,S
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S
515,516,0,1,"Walker, Mr. William Anderson",male,47.00,0,0,36967,34.0208,D46,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S
462,463,0,1,"Gee, Mr. Arthur H",male,47.00,0,0,111320,38.5000,E63,S
662,663,0,1,"Colley, Mr. Edward Pomeroy",male,47.00,0,0,5727,25.5875,E58,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
397,398,0,2,"McKane, Mr. Peter David",male,46.00,0,0,28403,26.0000,NaN,S
789,790,0,1,"Guggenheim, Mr. Benjamin",male,46.00,0,0,PC 17593,79.2000,B82 B84,C
331,332,0,1,"Partner, Mr. Austen",male,45.50,0,0,113043,28.5000,C124,S
362,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.00,0,1,2691,14.4542,NaN,C
536,537,0,1,"Butt, Major. Archibald Willingham",male,45.00,0,0,113050,26.5500,B38,S
276,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45.00,0,0,347073,7.7500,NaN,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S
339,340,0,1,"Blackwell, Mr. Stephen Weart",male,45.00,0,0,113784,35.5000,T,S
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
245,246,0,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q
236,237,0,2,"Hold, Mr. Stephen",male,44.00,1,0,26707,26.0000,NaN,S
678,679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",female,43.00,1,6,CA 2144,46.9000,NaN,S
314,315,0,2,"Hart, Mr. Benjamin",male,43.00,1,1,F.C.C. 13529,26.2500,NaN,S
621,622,1,1,"Kimball, Mr. Edwin Nelson Jr",male,42.00,1,0,11753,52.5542,D19,S
707,708,1,1,"Calderhead, Mr. Edward Pennington",male,42.00,0,0,PC 17476,26.2875,E24,S
288,289,1,2,"Hosono, Mr. Masabumi",male,42.00,0,0,237798,13.0000,NaN,S
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.00,0,2,370129,20.2125,NaN,S
638,639,0,3,"Panula, Mrs. Juha (Maria Emilia Ojala)",female,41.00,0,5,3101295,39.6875,NaN,S
209,210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
705,706,0,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.00,0,0,250655,26.0000,NaN,S
610,611,0,3,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",female,39.00,1,5,347082,31.2750,NaN,S
808,809,0,2,"Meyer, Mr. August",male,39.00,0,0,248723,13.0000,NaN,S
795,796,0,2,"Otter, Mr. Richard",male,39.00,0,0,28213,13.0000,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.00,0,5,382652,29.1250,NaN,Q
332,333,0,1,"Graham, Mr. George Edward",male,38.00,0,1,PC 17582,153.4625,C91,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S
503,504,0,3,"Laitinen, Miss. Kristina Sofia",female,37.00,0,0,4135,9.5875,NaN,S
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S
273,274,0,1,"Natsch, Mr. Charles H",male,37.00,0,1,PC 17596,29.7000,C118,C
594,595,0,2,"Chapman, Mr. John Henry",male,37.00,1,0,SC/AH 29037,26.0000,NaN,S
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S
265,266,0,2,"Reeves, Mr. David",male,36.00,0,0,C.A. 17248,10.5000,NaN,S
572,573,1,1,"Flynn, Mr. John Irwin (""Irving"")",male,36.00,0,0,PC 17474,26.3875,E25,S
559,560,1,3,"de Messemaeker, Mrs. Guillaume Joseph (Emma)",female,36.00,1,0,345572,17.4000,NaN,S
344,345,0,2,"Fox, Mr. Stanley Hubert",male,36.00,0,0,229236,13.0000,NaN,S
292,293,0,2,"Levy, Mr. Rene Jacques",male,36.00,0,0,SC/Paris 2163,12.8750,D,C
450,451,0,2,"West, Mr. Edwy Arthur",male,36.00,1,2,C.A. 34651,27.7500,NaN,S
583,584,0,1,"Ross, Mr. John Hugo",male,36.00,0,0,13049,40.1250,A10,C
741,742,0,1,"Cavendish, Mr. Tyrell William",male,36.00,1,0,19877,78.8500,C46,S
512,513,1,1,"McGough, Mr. James Robert",male,36.00,0,0,PC 17473,26.2875,E25,S
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.00,0,1,PC 17755,512.3292,B51 B53 B55,C
390,391,1,1,"Carter, Mr. William Ernest",male,36.00,1,2,113760,120.0000,B96 B98,S
701,702,1,1,"Silverthorne, Mr. Spencer Victor",male,35.00,0,0,PC 17475,26.2875,E24,S
279,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.00,1,1,C.A. 2673,20.2500,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
604,605,1,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.00,0,0,111426,26.5500,NaN,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.00,0,0,PC 17755,512.3292,B101,C
812,813,0,2,"Slemen, Mr. Richard James",male,35.00,0,0,28206,10.5000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
476,477,0,2,"Renouf, Mr. Peter Henry",male,34.00,1,0,31027,21.0000,NaN,S
722,723,0,2,"Gillespie, Mr. William Henry",male,34.00,0,0,12233,13.0000,NaN,S
405,406,0,2,"Gale, Mr. Shadrach",male,34.00,1,0,28664,21.0000,NaN,S
800,801,0,2,"Ponesell, Mr. Martin",male,34.00,0,0,250647,13.0000,NaN,S
447,448,1,1,"Seward, Mr. Frederic Kimber",male,34.00,0,0,113794,26.5500,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
239,240,0,2,"Hunt, Mr. George Henry",male,33.00,0,0,SCO/W 1585,12.2750,NaN,S
122,123,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C
429,430,1,3,"Pickard, Mr. Berk (Berk Trembisky)",male,32.00,0,0,SOTON/O.Q. 392078,8.0500,E10,S
579,580,1,3,"Jussila, Mr. Eiriik",male,32.00,0,0,STON/O 2. 3101286,7.9250,NaN,S
382,383,0,3,"Tikkanen, Mr. Juho",male,32.00,0,0,STON/O 2. 3101293,7.9250,NaN,S
632,633,1,1,"Stahelin-Maeglin, Dr. Max",male,32.00,0,0,13214,30.5000,B50,C
636,637,0,3,"Leinonen, Mr. Antti Gustaf",male,32.00,0,0,STON/O 2. 3101292,7.9250,NaN,S
543,544,1,2,"Beane, Mr. Edward",male,32.00,1,0,2908,26.0000,NaN,S
665,666,0,2,"Hickman, Mr. Lewis",male,32.00,2,0,S.O.C. 14879,73.5000,NaN,S
769,770,0,3,"Gronnestad, Mr. Daniel Danielsen",male,32.00,0,0,8471,8.3625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
657,658,0,3,"Bourke, Mrs. John (Catherine)",female,32.00,1,1,364849,15.5000,NaN,Q
637,638,0,2,"Collyer, Mr. Harvey",male,31.00,1,1,C.A. 31921,26.2500,NaN,S
439,440,0,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.00,0,0,C.A. 18723,10.5000,NaN,S
797,798,1,3,"Osman, Mrs. Mara",female,31.00,0,0,349244,8.6833,NaN,S
690,691,1,1,"Dick, Mr. Albert Adrian",male,31.00,1,0,17474,57.0000,B20,S
673,674,1,2,"Wilhelms, Mr. Charles",male,31.00,0,0,244270,13.0000,NaN,S
744,745,1,3,"Stranden, Mr. Juho",male,31.00,0,0,STON/O 2. 3101288,7.9250,NaN,S
817,818,0,2,"Mallet, Mr. Albert",male,31.00,1,1,S.C./PARIS 2079,37.0042,NaN,C
396,397,0,3,"Olsson, Miss. Elina",female,31.00,0,0,350407,7.8542,NaN,S
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.00,0,0,PC 17590,50.4958,A24,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
328,329,1,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.00,1,1,363291,20.5250,NaN,S
671,672,0,1,"Davidson, Mr. Thornton",male,31.00,1,0,F.C. 12750,52.0000,B71,S
814,815,0,3,"Tomlin, Mr. Ernest Portage",male,30.50,0,0,364499,8.0500,NaN,S
767,768,0,3,"Mangan, Miss. Mary",female,30.50,0,0,364850,7.7500,NaN,Q
418,419,0,2,"Matthews, Mr. William John",male,30.00,0,0,28228,13.0000,NaN,S
308,309,0,2,"Abelson, Mr. Samuel",male,30.00,1,0,P/PP 3381,24.0000,NaN,C
799,800,0,3,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.00,1,1,345773,24.1500,NaN,S
452,453,0,1,"Foreman, Mr. Benjamin Laventall",male,30.00,0,0,113051,27.7500,C111,C
157,158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
488,489,0,3,"Somerton, Mr. Francis William",male,30.00,0,0,A.5. 18509,8.0500,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
534,535,0,3,"Cacic, Miss. Marija",female,30.00,0,0,315084,8.6625,NaN,S
219,220,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S
178,179,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S
117,118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S
255,256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.00,0,2,2650,15.2458,NaN,C
567,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.00,0,4,349909,21.0750,NaN,S
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S
361,362,0,2,"del Carlo, Mr. Sebastiano",male,29.00,1,0,SC/PARIS 2167,27.7208,NaN,C
782,783,0,1,"Long, Mr. Milton Clyde",male,29.00,0,0,113501,30.0000,D6,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G6,S
336,337,0,1,"Pears, Mr. Thomas Clinton",male,29.00,1,0,113776,66.6000,C2,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
342,343,0,2,"Collander, Mr. Erik Gustaf",male,28.00,0,0,248740,13.0000,NaN,S
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S
848,849,0,2,"Harper, Rev. John",male,28.00,0,1,248727,33.0000,NaN,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
430,431,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.00,0,0,110564,26.5500,C52,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.00,0,0,C.A./SOTON 34068,10.5000,NaN,S
423,424,0,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",female,28.00,1,1,347080,14.4000,NaN,S
562,563,0,2,"Norman, Mr. Robert Douglas",male,28.00,0,0,218629,13.5000,NaN,S
551,552,0,2,"Sharp, Mr. Percival James R",male,27.00,0,0,244358,26.0000,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.00,0,0,211536,13.0000,NaN,S
724,725,1,1,"Chambers, Mr. Norman Campbell",male,27.00,1,0,113806,53.1000,E8,S
823,824,1,3,"Moor, Mrs. (Beila)",female,27.00,0,1,392096,12.4750,E121,S
216,217,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
377,378,0,1,"Widener, Mr. Harry Elkins",male,27.00,0,2,113503,211.5000,C82,C
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
681,682,1,1,"Hassab, Mr. Hammad",male,27.00,0,0,PC 17572,76.7292,D49,C
607,608,1,1,"Daniel, Mr. Robert Williams",male,27.00,0,0,113804,30.5000,NaN,S
221,222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S
619,620,0,2,"Gavey, Mr. Lawrence",male,26.00,0,0,31028,10.5000,NaN,S
617,618,0,3,"Lobb, Mrs. William Arthur (Cordelia K Stanlick)",female,26.00,1,0,A/5. 3336,16.1000,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30.0000,C148,C
315,316,1,3,"Nilsson, Miss. Helmina Josefina",female,26.00,0,0,347470,7.8542,NaN,S
370,371,1,1,"Harder, Mr. George Achilles",male,25.00,1,0,11765,55.4417,E50,C
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S
729,730,0,3,"Ilmakangas, Miss. Pieta Sofia",female,25.00,1,0,STON/O2. 3101271,7.9250,NaN,S
728,729,0,2,"Bryhl, Mr. Kurt Arnold Gottfrid",male,25.00,1,0,236853,26.0000,NaN,S
685,686,0,2,"Laroche, Mr. Joseph Philippe Lemercier",male,25.00,1,2,SC/Paris 2123,41.5792,NaN,C
666,667,0,2,"Butler, Mr. Reginald Fenton",male,25.00,0,0,234686,13.0000,NaN,S
343,344,0,2,"Sedgwick, Mr. Charles Frederick Waddington",male,25.00,0,0,244361,13.0000,NaN,S
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.00,0,0,347071,7.7750,NaN,S
484,485,1,1,"Bishop, Mr. Dickinson H",male,25.00,1,0,11967,91.0792,B49,C
655,656,0,2,"Hickman, Mr. Leonard Mark",male,24.00,2,0,S.O.C. 14879,73.5000,NaN,S
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.00,0,0,C.A. 29566,10.5000,NaN,S
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.00,0,3,2666,19.2583,NaN,C
293,294,0,3,"Haas, Miss. Aloisia",female,24.00,0,0,349236,8.8500,NaN,S
139,140,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
394,395,1,3,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...",female,24.00,0,2,PP 9549,16.7000,G6,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
864,865,0,2,"Gill, Mr. John William",male,24.00,0,0,233866,13.0000,NaN,S
816,817,0,3,"Heininen, Miss. Wendla Maria",female,23.00,0,0,STON/O2. 3101290,7.9250,NaN,S
658,659,0,2,"Eitemiller, Mr. George Floyd",male,23.00,0,0,29751,13.0000,NaN,S
734,735,0,2,"Troupiansky, Mr. Moses Aaron",male,23.00,0,0,233639,13.0000,NaN,S
135,136,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
529,530,0,2,"Hocking, Mr. Richard George",male,23.00,2,1,29104,11.5000,NaN,S
733,734,0,2,"Berriman, Mr. William John",male,23.00,0,0,28425,13.0000,NaN,S
398,399,0,2,"Pain, Dr. Alfred",male,23.00,0,0,244278,10.5000,NaN,S
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
649,650,1,3,"Stanley, Miss. Amy Zillah Elsie",female,23.00,0,0,CA. 2314,7.5500,NaN,S
289,290,1,3,"Connolly, Miss. Kate",female,22.00,0,0,370373,7.7500,NaN,Q
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.00,0,0,7552,10.5167,NaN,S
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S
474,475,0,3,"Strandberg, Miss. Ida Sofia",female,22.00,0,0,7553,9.8375,NaN,S
373,374,0,1,"Ringhini, Mr. Sante",male,22.00,0,0,PC 17760,135.6333,NaN,C
376,377,1,3,"Landergren, Miss. Aurora Adelia",female,22.00,0,0,C 7077,7.2500,NaN,S
554,555,1,3,"Ohman, Miss. Velin",female,22.00,0,0,347085,7.7750,NaN,S
120,121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S
501,502,0,3,"Canavan, Miss. Mary",female,21.00,0,0,364846,7.7500,NaN,Q
102,103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.00,1,0,28134,11.5000,NaN,S
436,437,0,3,"Ford, Miss. Doolina Margaret ""Daisy""",female,21.00,2,2,W./C. 6608,34.3750,NaN,S
402,403,0,3,"Jussila, Miss. Mari Aina",female,21.00,1,0,4137,9.8250,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
113,114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S
404,405,0,3,"Oreskovic, Miss. Marija",female,20.00,0,0,315096,8.6625,NaN,S
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
191,192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S
226,227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S
748,749,0,1,"Marvin, Mr. Daniel Warner",male,19.00,1,0,113773,53.1000,D30,S
238,239,0,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,NaN,S
505,506,0,1,"Penasco y Castellana, Mr. Victor de Satode",male,18.00,1,0,PC 17758,108.9000,C65,C
757,758,0,2,"Bailey, Mr. Percy Andrew",male,18.00,0,0,29108,11.5000,NaN,S
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S
702,703,0,3,"Barbara, Miss. Saiide",female,18.00,0,1,2691,14.4542,NaN,C
807,808,0,3,"Pettersson, Miss. Ellen Natalia",female,18.00,0,0,347087,7.7750,NaN,S
677,678,1,3,"Turja, Miss. Anna Sofia",female,18.00,0,0,4138,9.8417,NaN,S
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
654,655,0,3,"Hegarty, Miss. Hanora ""Nora""",female,18.00,0,0,365226,6.7500,NaN,Q
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
855,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.00,0,1,392091,9.3500,NaN,S
385,386,0,2,"Davies, Mr. Charles Henry",male,18.00,0,0,S.O.C. 14879,73.5000,NaN,S
786,787,1,3,"Sjoblom, Miss. Anna Sofia",female,18.00,0,0,3101265,7.4958,NaN,S
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.00,0,2,17421,110.8833,C70,C
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
114,115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
841,842,0,2,"Mudd, Mr. Thomas Charles",male,16.00,0,0,S.O./P.P. 3,10.5000,NaN,S
791,792,0,2,"Gaskell, Mr. Alfred",male,16.00,0,0,239865,26.0000,NaN,S
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.00,0,0,2667,7.2250,NaN,C
830,831,1,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.00,1,0,2659,14.4542,NaN,C
111,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
780,781,1,3,"Ayoub, Miss. Banoura",female,13.00,0,0,2687,7.2292,NaN,C
802,803,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S
542,543,0,3,"Andersson, Miss. Sigrid Elisabeth",female,11.00,4,2,347082,31.2750,NaN,S
419,420,0,3,"Van Impe, Miss. Catharina",female,10.00,0,2,345773,24.1500,NaN,S
634,635,0,3,"Skoog, Miss. Mabel",female,9.00,3,2,347088,27.9000,NaN,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S
852,853,0,3,"Boulos, Miss. Nourelain",female,9.00,1,1,2678,15.2458,NaN,C

In [82]:
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S
102,103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S
111,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C
113,114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S
114,115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
117,118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S
120,121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
122,123,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S
135,136,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S
139,140,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S
150,151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q
157,158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S
168,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
178,179,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
181,182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S
191,192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
209,210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S
216,217,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
219,220,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S
221,222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S
226,227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S
229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.00,0,0,C.A. 29566,10.5000,NaN,S
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
236,237,0,2,"Hold, Mr. Stephen",male,44.00,1,0,26707,26.0000,NaN,S
238,239,0,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,NaN,S
239,240,0,2,"Hunt, Mr. George Henry",male,33.00,0,0,SCO/W 1585,12.2750,NaN,S
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
241,242,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S
245,246,0,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.00,0,0,347071,7.7750,NaN,S
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G6,S
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.00,0,2,370129,20.2125,NaN,S
255,256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.00,0,2,2650,15.2458,NaN,C
262,263,0,1,"Taussig, Mr. Emil",male,52.00,1,1,110413,79.6500,E67,S
264,265,0,3,"Henry, Miss. Delia",female,NaN,0,0,382649,7.7500,NaN,Q
265,266,0,2,"Reeves, Mr. David",male,36.00,0,0,C.A. 17248,10.5000,NaN,S
270,271,0,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S
273,274,0,1,"Natsch, Mr. Charles H",male,37.00,0,1,PC 17596,29.7000,C118,C
274,275,1,3,"Healy, Miss. Hanora ""Nora""",female,NaN,0,0,370375,7.7500,NaN,Q
276,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45.00,0,0,347073,7.7500,NaN,S
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0000,NaN,S
279,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.00,1,1,C.A. 2673,20.2500,NaN,S
284,285,0,1,"Smith, Mr. Richard William",male,NaN,0,0,113056,26.0000,A19,S
288,289,1,2,"Hosono, Mr. Masabumi",male,42.00,0,0,237798,13.0000,NaN,S
289,290,1,3,"Connolly, Miss. Kate",female,22.00,0,0,370373,7.7500,NaN,Q
292,293,0,2,"Levy, Mr. Rene Jacques",male,36.00,0,0,SC/Paris 2163,12.8750,D,C
293,294,0,3,"Haas, Miss. Aloisia",female,24.00,0,0,349236,8.8500,NaN,S
295,296,0,1,"Lewy, Mr. Ervin G",male,NaN,0,0,PC 17612,27.7208,NaN,C
298,299,1,1,"Saalfeld, Mr. Adolphe",male,NaN,0,0,19988,30.5000,C106,S
300,301,1,3,"Kelly, Miss. Anna Katherine ""Annie Kate""",female,NaN,0,0,9234,7.7500,NaN,Q
308,309,0,2,"Abelson, Mr. Samuel",male,30.00,1,0,P/PP 3381,24.0000,NaN,C
314,315,0,2,"Hart, Mr. Benjamin",male,43.00,1,1,F.C.C. 13529,26.2500,NaN,S
315,316,1,3,"Nilsson, Miss. Helmina Josefina",female,26.00,0,0,347470,7.8542,NaN,S
328,329,1,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.00,1,1,363291,20.5250,NaN,S
330,331,1,3,"McCoy, Miss. Agnes",female,NaN,2,0,367226,23.2500,NaN,Q
331,332,0,1,"Partner, Mr. Austen",male,45.50,0,0,113043,28.5000,C124,S
332,333,0,1,"Graham, Mr. George Edward",male,38.00,0,1,PC 17582,153.4625,C91,S
336,337,0,1,"Pears, Mr. Thomas Clinton",male,29.00,1,0,113776,66.6000,C2,S
339,340,0,1,"Blackwell, Mr. Stephen Weart",male,45.00,0,0,113784,35.5000,T,S
342,343,0,2,"Collander, Mr. Erik Gustaf",male,28.00,0,0,248740,13.0000,NaN,S
343,344,0,2,"Sedgwick, Mr. Charles Frederick Waddington",male,25.00,0,0,244361,13.0000,NaN,S
344,345,0,2,"Fox, Mr. Stanley Hubert",male,36.00,0,0,229236,13.0000,NaN,S
347,348,1,3,"Davison, Mrs. Thomas Henry (Mary E Finck)",female,NaN,1,0,386525,16.1000,NaN,S
351,352,0,1,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,0,0,113510,35.0000,C128,S
358,359,1,3,"McGovern, Miss. Mary",female,NaN,0,0,330931,7.8792,NaN,Q
359,360,1,3,"Mockler, Miss. Helen Mary ""Ellie""",female,NaN,0,0,330980,7.8792,NaN,Q
361,362,0,2,"del Carlo, Mr. Sebastiano",male,29.00,1,0,SC/PARIS 2167,27.7208,NaN,C
362,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.00,0,1,2691,14.4542,NaN,C
367,368,1,3,"Moussa, Mrs. (Mantoura Boulos)",female,NaN,0,0,2626,7.2292,NaN,C
368,369,1,3,"Jermyn, Miss. Annie",female,NaN,0,0,14313,7.7500,NaN,Q
370,371,1,1,"Harder, Mr. George Achilles",male,25.00,1,0,11765,55.4417,E50,C
373,374,0,1,"Ringhini, Mr. Sante",male,22.00,0,0,PC 17760,135.6333,NaN,C
374,375,0,3,"Palsson, Miss. Stina Viola",female,3.00,3,1,349909,21.0750,NaN,S
376,377,1,3,"Landergren, Miss. Aurora Adelia",female,22.00,0,0,C 7077,7.2500,NaN,S
377,378,0,1,"Widener, Mr. Harry Elkins",male,27.00,0,2,113503,211.5000,C82,C
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.00,0,2,2653,15.7417,NaN,C
382,383,0,3,"Tikkanen, Mr. Juho",male,32.00,0,0,STON/O 2. 3101293,7.9250,NaN,S
385,386,0,2,"Davies, Mr. Charles Henry",male,18.00,0,0,S.O.C. 14879,73.5000,NaN,S
390,391,1,1,"Carter, Mr. William Ernest",male,36.00,1,2,113760,120.0000,B96 B98,S
394,395,1,3,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...",female,24.00,0,2,PP 9549,16.7000,G6,S
396,397,0,3,"Olsson, Miss. Elina",female,31.00,0,0,350407,7.8542,NaN,S
397,398,0,2,"McKane, Mr. Peter David",male,46.00,0,0,28403,26.0000,NaN,S
398,399,0,2,"Pain, Dr. Alfred",male,23.00,0,0,244278,10.5000,NaN,S
402,403,0,3,"Jussila, Miss. Mari Aina",female,21.00,1,0,4137,9.8250,NaN,S
404,405,0,3,"Oreskovic, Miss. Marija",female,20.00,0,0,315096,8.6625,NaN,S
405,406,0,2,"Gale, Mr. Shadrach",male,34.00,1,0,28664,21.0000,NaN,S
409,410,0,3,"Lefebre, Miss. Ida",female,NaN,3,1,4133,25.4667,NaN,S
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0000,NaN,S
415,416,0,3,"Meek, Mrs. Thomas (Annie Louise Rowley)",female,NaN,0,0,343095,8.0500,NaN,S
418,419,0,2,"Matthews, Mr. William John",male,30.00,0,0,28228,13.0000,NaN,S
419,420,0,3,"Van Impe, Miss. Catharina",female,10.00,0,2,345773,24.1500,NaN,S
423,424,0,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",female,28.00,1,1,347080,14.4000,NaN,S
429,430,1,3,"Pickard, Mr. Berk (Berk Trembisky)",male,32.00,0,0,SOTON/O.Q. 392078,8.0500,E10,S
430,431,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.00,0,0,110564,26.5500,C52,S
431,432,1,3,"Thorneycroft, Mrs. Percival (Florence Kate White)",female,NaN,1,0,376564,16.1000,NaN,S
434,435,0,1,"Silvey, Mr. William Baird",male,50.00,1,0,13507,55.9000,E44,S
436,437,0,3,"Ford, Miss. Doolina Margaret ""Daisy""",female,21.00,2,2,W./C. 6608,34.3750,NaN,S
439,440,0,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.00,0,0,C.A. 18723,10.5000,NaN,S
447,448,1,1,"Seward, Mr. Frederic Kimber",male,34.00,0,0,113794,26.5500,NaN,S
448,449,1,3,"Baclini, Miss. Marie Catherine",female,5.00,2,1,2666,19.2583,NaN,C
449,450,1,1,"Peuchen, Major. Arthur Godfrey",male,52.00,0,0,113786,30.5000,C104,S
450,451,0,2,"West, Mr. Edwy Arthur",male,36.00,1,2,C.A. 34651,27.7500,NaN,S
452,453,0,1,"Foreman, Mr. Benjamin Laventall",male,30.00,0,0,113051,27.7500,C111,C
453,454,1,1,"Goldenberg, Mr. Samuel L",male,49.00,1,0,17453,89.1042,C92,C
460,461,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26.5500,E12,S
462,463,0,1,"Gee, Mr. Arthur H",male,47.00,0,0,111320,38.5000,E63,S
463,464,0,2,"Milling, Mr. Jacob Christian",male,48.00,0,0,234360,13.0000,NaN,S
466,467,0,2,"Campbell, Mr. William",male,NaN,0,0,239853,0.0000,NaN,S
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
474,475,0,3,"Strandberg, Miss. Ida Sofia",female,22.00,0,0,7553,9.8375,NaN,S
475,476,0,1,"Clifford, Mr. George Quincy",male,NaN,0,0,110465,52.0000,A14,S
476,477,0,2,"Renouf, Mr. Peter Henry",male,34.00,1,0,31027,21.0000,NaN,S
479,480,1,3,"Hirvonen, Miss. Hildur E",female,2.00,0,1,3101298,12.2875,NaN,S
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0000,NaN,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.00,0,0,4134,9.5875,NaN,S
484,485,1,1,"Bishop, Mr. Dickinson H",male,25.00,1,0,11967,91.0792,B49,C
485,486,0,3,"Lefebre, Miss. Jeannie",female,NaN,3,1,4133,25.4667,NaN,S
488,489,0,3,"Somerton, Mr. Francis William",male,30.00,0,0,A.5. 18509,8.0500,NaN,S
501,502,0,3,"Canavan, Miss. Mary",female,21.00,0,0,364846,7.7500,NaN,Q
502,503,0,3,"O'Sullivan, Miss. Bridget Mary",female,NaN,0,0,330909,7.6292,NaN,Q
503,504,0,3,"Laitinen, Miss. Kristina Sofia",female,37.00,0,0,4135,9.5875,NaN,S
505,506,0,1,"Penasco y Castellana, Mr. Victor de Satode",male,18.00,1,0,PC 17758,108.9000,C65,C
507,508,1,1,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,0,0,111427,26.5500,NaN,S
512,513,1,1,"McGough, Mr. James Robert",male,36.00,0,0,PC 17473,26.2875,E25,S
515,516,0,1,"Walker, Mr. William Anderson",male,47.00,0,0,36967,34.0208,D46,S
527,528,0,1,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S
529,530,0,2,"Hocking, Mr. Richard George",male,23.00,2,1,29104,11.5000,NaN,S
533,534,1,3,"Peter, Mrs. Catherine (Catherine Rizk)",female,NaN,0,2,2668,22.3583,NaN,C
534,535,0,3,"Cacic, Miss. Marija",female,30.00,0,0,315084,8.6625,NaN,S
536,537,0,1,"Butt, Major. Archibald Willingham",male,45.00,0,0,113050,26.5500,B38,S
541,542,0,3,"Andersson, Miss. Ingeborg Constanzia",female,9.00,4,2,347082,31.2750,NaN,S
542,543,0,3,"Andersson, Miss. Sigrid Elisabeth",female,11.00,4,2,347082,31.2750,NaN,S
543,544,1,2,"Beane, Mr. Edward",male,32.00,1,0,2908,26.0000,NaN,S
544,545,0,1,"Douglas, Mr. Walter Donald",male,50.00,1,0,PC 17761,106.4250,C86,C
547,548,1,2,"Padro y Manent, Mr. Julian",male,NaN,0,0,SC/PARIS 2146,13.8625,NaN,C
549,550,1,2,"Davies, Master. John Morgan Jr",male,8.00,1,1,C.A. 33112,36.7500,NaN,S
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.00,0,2,17421,110.8833,C70,C
551,552,0,2,"Sharp, Mr. Percival James R",male,27.00,0,0,244358,26.0000,NaN,S
554,555,1,3,"Ohman, Miss. Velin",female,22.00,0,0,347085,7.7750,NaN,S
557,558,0,1,"Robbins, Mr. Victor",male,NaN,0,0,PC 17757,227.5250,NaN,C
559,560,1,3,"de Messemaeker, Mrs. Guillaume Joseph (Emma)",female,36.00,1,0,345572,17.4000,NaN,S
562,563,0,2,"Norman, Mr. Robert Douglas",male,28.00,0,0,218629,13.5000,NaN,S
564,565,0,3,"Meanwell, Miss. (Marion Ogden)",female,NaN,0,0,SOTON/O.Q. 392087,8.0500,NaN,S
567,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.00,0,4,349909,21.0750,NaN,S
572,573,1,1,"Flynn, Mr. John Irwin (""Irving"")",male,36.00,0,0,PC 17474,26.3875,E25,S
573,574,1,3,"Kelly, Miss. Mary",female,NaN,0,0,14312,7.7500,NaN,Q
578,579,0,3,"Caram, Mrs. Joseph (Maria Elias)",female,NaN,1,0,2689,14.4583,NaN,C
579,580,1,3,"Jussila, Mr. Eiriik",male,32.00,0,0,STON/O 2. 3101286,7.9250,NaN,S
583,584,0,1,"Ross, Mr. John Hugo",male,36.00,0,0,13049,40.1250,A10,C
586,587,0,2,"Jarvis, Mr. John Denzil",male,47.00,0,0,237565,15.0000,NaN,S
593,594,0,3,"Bourke, Miss. Mary",female,NaN,0,2,364848,7.7500,NaN,Q
594,595,0,2,"Chapman, Mr. John Henry",male,37.00,1,0,SC/AH 29037,26.0000,NaN,S
599,600,1,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",male,49.00,1,0,PC 17485,56.9292,A20,C
602,603,0,1,"Harrington, Mr. Charles H",male,NaN,0,0,113796,42.4000,NaN,S
604,605,1,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.00,0,0,111426,26.5500,NaN,C
607,608,1,1,"Daniel, Mr. Robert Williams",male,27.00,0,0,113804,30.5000,NaN,S
610,611,0,3,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",female,39.00,1,5,347082,31.2750,NaN,S
612,613,1,3,"Murphy, Miss. Margaret Jane",female,NaN,1,0,367230,15.5000,NaN,Q
617,618,0,3,"Lobb, Mrs. William Arthur (Cordelia K Stanlick)",female,26.00,1,0,A/5. 3336,16.1000,NaN,S
619,620,0,2,"Gavey, Mr. Lawrence",male,26.00,0,0,31028,10.5000,NaN,S
621,622,1,1,"Kimball, Mr. Edwin Nelson Jr",male,42.00,1,0,11753,52.5542,D19,S
632,633,1,1,"Stahelin-Maeglin, Dr. Max",male,32.00,0,0,13214,30.5000,B50,C
634,635,0,3,"Skoog, Miss. Mabel",female,9.00,3,2,347088,27.9000,NaN,S
636,637,0,3,"Leinonen, Mr. Antti Gustaf",male,32.00,0,0,STON/O 2. 3101292,7.9250,NaN,S
637,638,0,2,"Collyer, Mr. Harvey",male,31.00,1,1,C.A. 31921,26.2500,NaN,S
638,639,0,3,"Panula, Mrs. Juha (Maria Emilia Ojala)",female,41.00,0,5,3101295,39.6875,NaN,S
642,643,0,3,"Skoog, Miss. Margit Elizabeth",female,2.00,3,2,347088,27.9000,NaN,S
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
645,646,1,1,"Harper, Mr. Henry Sleeper",male,48.00,1,0,PC 17572,76.7292,D33,C
649,650,1,3,"Stanley, Miss. Amy Zillah Elsie",female,23.00,0,0,CA. 2314,7.5500,NaN,S
653,654,1,3,"O'Leary, Miss. Hanora ""Norah""",female,NaN,0,0,330919,7.8292,NaN,Q

In [85]:
x = ['Age', 'Fare']
a = df_train[x]
a.describe()

              Age        Fare
count  267.000000  337.000000
mean    28.747191   32.470710
std     12.330590   51.381101
min      0.750000    0.000000
25%     21.000000   10.500000
50%     29.000000   16.700000
75%     36.000000   31.275000
max     63.000000  512.329200